* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  top: 0%;
  width: 100%;
  margin: 0%;
  z-index: 1;
}
ul,
li {
  display: flex;
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: white;
  padding: auto;
}
li a:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}

.pk {
  background-color: black;
}

.pk-items {
  color: white;
  width: 80%;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 30px;
}

.container {
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
}

.container h1 {
  padding-top: 70px;
  padding-bottom: 10px;
}

.container h5 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.container p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.grid-item {
  margin: 20px;
  width: 340px;
  height: 200px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  filter: brightness(80%);
}

.grid-item h4,
p {
  color: black;
}

.container1 {
  background-color: grey;
}

.container1 h1 {
  padding-top: 70px;
  padding-bottom: 10px;
}

.container1 h5 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.container1 p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid1 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.grid-item1 {
  margin: 20px;
  width: 340px;
  height: 200px;
  padding: 15px;
}

.about1 {
    margin-top: 100px;
  width: 80%;
  margin: auto;
}

.contact1 {
  width: 80%;
  margin: auto;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.grid-item2 {
  margin: 20px;
  width: 340px;
  height: 200px;
}

.input[type="text"],
button[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.button[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.form-popup {
  width: 180px;
  display: none;
}

.c-form{
    width: 240px;
    height: 360px;
    padding:180px 0;
}

.c-form form label{
    margin: 10px 0;
    padding: 10px;
}

.cbtn{
    background-color: rgb(150, 241, 3);
}
